@charset "utf-8";

/* font */
@import url(pretendard.css);
strong {font-weight:normal}

/* common */
html, body {margin:0;padding:0;height:100%;width:100%;min-width:1024px}
body {color:#333;font-family:'pretendard', HelveticaNeue,AppleSDGothicNeo,sans-serif;font-size:13px;letter-spacing:-.5px;overflow:overlay}
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;font-weight:normal;font-size:inherit}
form, fieldset {margin:0;padding:0;border:none}
p, ul, ol, li, dl, dt, dd {list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0}
em {font-style:normal}
a {text-decoration:none;color:#363636}
a:hover, a:active {text-decoration:none;color:#235291}
table {width:100%;border-collapse:separate;border-spacing:0;table-layout:fixed}
table th {font-weight:normal}
* html table {border-collapse:collapse}
*+html table {border-collapse:collapse}
img {border:none}
input[type='button'], button, select {margin:0;padding:0;cursor:pointer;font-family:'pretendard', HelveticaNeue,AppleSDGothicNeo,sans-serif;background-color:transparent;border:0;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;outline:none}
button:active {outline:none;text-indent:0}
p, dt, dd {word-break:break-all}

input, select {outline:none}
input[type='text']::-ms-clear {display:none !important}
input[type='search']::-webkit-search-cancel-button {display:none !important}
input[type='file'] {line-height:1;padding:0 16px;border:1px solid #666;font-size:16px;font-family:'pretendard', HelveticaNeue,AppleSDGothicNeo,sans-serif;cursor:pointer;outline:none;box-sizing:border-box}

select {font-family:'pretendard', HelveticaNeue,AppleSDGothicNeo,sans-serif;font-size:16px;border:1px solid #959595;height:32px;line-height:32px;padding:0 16px;-webkit-appearance:none;-moz-appearance:none;appearance:none}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color:#999}
input:-moz-placeholder,
textarea:-moz-placeholder {color:#999;opacity:1}
input::-moz-placeholder,
textarea::-moz-placeholder {color:#999;opacity:1}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {line-height:1.8rem;letter-spacing:-.05em}
textarea::-webkit-input-placeholder {line-height:1.8rem;letter-spacing:-.05em}
textarea:-moz-placeholder {line-height:1.8rem;letter-spacing:-.05em}
textarea:-ms-input-placeholder {line-height:1.8rem;letter-spacing:-.05em}

input::-webkit-input-placeholder {color:#999}
input::-moz-placeholder {color:#999}
input:-ms-input-placeholder {color:#999}
input:-moz-placeholder {color:#999}

input[type='checkbox'],
input[type='radio'] {margin:0;padding:0;position:relative;top:2px}
input[readonly='readonly'], input[readonly],
input[disabled='disabled'], input[disabled] {opacity:1 !important}
input.datepicker[disabled='disabled'], input.datepicker[disabled],
input.datepicker[readonly='readonly'], input.datepicker[readonly],
input.datepicker[disabled='disabled']::-webkit-input-placeholder,
input.datepicker[disabled]::-webkit-input-placeholder {background-color:rgb(61, 19, 19) !important;color:#999 !important;opacity:1 !important}
select[disabled] {background:#e5e5e5;color:#bababa}

textarea {width:100%;box-sizing:border-box;padding:1rem;font-size:14px;resize:none;font-family:'pretendard', HelveticaNeue,AppleSDGothicNeo,sans-serif;border:1px solid #b2b2b2;border-radius:0;-webkit-border-radius:0;outline:none;appearance:none;-webkit-appearance:none}

legend {font-size:0;text-indent:-99999em;line-height:0}
header, section, footer, article, nav, aside {display:block}
img {/*max-width:100%;*/vertical-align:top}
label {font-size:13px}

html.scroll_off {overflow:hidden}

::-webkit-scrollbar {width:6px;height:6px}
::-webkit-scrollbar-track {background-color:transparent}
::-webkit-scrollbar-thumb {border-radius:30px;background-color:rgba(0,0,0,.2);border:none}
::-webkit-scrollbar-button {width:0;height:0}

.nav-box ::-webkit-scrollbar-thumb {background-color:rgba(255,255,255,.1)}

    /* ETC */
.for-a11y {position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0);overflow:hidden;text-indent:-99em}
* {box-sizing:border-box}
.clamp {display:inline-block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:95%}
.clamp-b {overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}

.base-wrap {position:fixed;top:0;width:100%;left:-110%;height:100%;/*background-color:#f0f3f4;*/background-color:rgba(240,243,244,.7);-webkit-transition:left .3s ease-out;transition:left .3s ease-out;z-index:999}
.base-wrap.open,
.base-wrap.open .header {left:0}

.main-wrap {display:flex;height:100%;min-height:500px}
.main-wrap .nav-box {flex-shrink:0;display:flex}
.main-wrap .map-box {flex:1;overflow:hidden;position:relative}

.nav-content {width:90px;background-color:#313131;height:100%;display:flex;flex-direction:column;padding:20px 0 80px;flex-shrink:0;position:relative;z-index:2}
.nav-content .logo {background:url("/images/common/logo.png") center center no-repeat;height:32px;display:block}
.nav-content .nav {margin-top:40px}
.nav-content .nav-item {height:60px;display:flex;flex-direction:column;justify-content:center;align-items:flex-start;padding:0 12px;gap:10px;background-color:#262626;width:100%}
.nav-content .nav-item span {color:#00cfc7;font-size:12px;font-weight:500}
.nav-content .nav .nav-item {border-bottom:1px solid #515151}
.nav-content .nav-item.active {background-color:#04a09a}
.nav-content .nav-item.active span {color:#fff}
.nav-content .nav-footer {margin-top:auto}

.nav-layer {width:200px;border:5px solid #04a09a;height:100%;background-color:#262626;overflow-x:hidden;overflow-y:overlay;transition:margin-left .2s;margin-left:-200px}
.nav-layer.active {margin-left:0}
.nav-layer .nav-group {padding:32px 0 12px;border-bottom:1px solid #04a09a}
.nav-group .nav-group-title {font-size:16px;color:#fff;font-weight:100;margin-bottom:12px;padding:0 10px}
.btn-nav-choice {min-height:30px;color:#fff;font-size:12px;font-weight:300;position:relative;line-height:18px;padding:6px 0 6px 32px;width:100%;text-align:left}
.btn-nav-choice:before {content:'';position:absolute;left:10px;top:6px;width:18px;height:18px;background:url("/images/common/choice-i.png") no-repeat 50% 50%;opacity:.3}
.btn-nav-choice.active {background-color:#04a09a}
.btn-nav-choice.active:before {opacity:1}

[class^="nav-i-"] {width:20px;height:20px;display:block;background-size:100%;background-repeat:no-repeat;background-position:0 0}
.nav-i-01 {background-image:url("/images/common/nav-i-01.png")}
.nav-i-02 {background-image:url("/images/common/nav-i-02.png")}
.nav-i-03 {background-image:url("/images/common/nav-i-03.png")}
.nav-i-04 {background-image:url("/images/common/nav-i-04.png")}
.active .nav-i-01 {background-image:url("/images/common/nav-i-01-on.png")}
.active .nav-i-02 {background-image:url("/images/common/nav-i-02-on.png")}
.active .nav-i-03 {background-image:url("/images/common/nav-i-03-on.png")}
.active .nav-i-04 {background-image:url("/images/common/nav-i-04-on.png")}

.ico-com {display:inline-block;background-image:url("/images/common/icon.png");background-repeat:no-repeat}
.ico-com.sh-icon-a {width:20px;height:20px;background-position:0 0}
.ico-com.icon-filter {width:20px;height:20px;background-position:-20px 0}
.ico-com.icon-back {width:20px;height:20px;background-position:-260px -20px}
.ico-com.icon-close-a {width:20px;height:20px;background-position:-280px -20px}
.ico-com.icon-reset {width:20px;height:20px;background-position:-260px 0}
.control-section .ico-com {width:20px;height:20px}
.ico-com.sp-map-layer {background-position:-40px 0}
.ico-com.sp-map-normal {background-position:-60px 0}
.ico-com.sp-map-flight {background-position:-80px 0}
.ico-com.sp-map-now {background-position:-180px 0}
.ico-com.sp-map-expand {background-position:-100px 0}
.ico-com.sp-map-reduce {background-position:-120px 0}
.ico-com.sp-map-distance {background-position:-140px 0}
.ico-com.sp-map-area {background-position:-160px 0}
.control-section .active .ico-com {background-position-y:-20px}
.control-section .active .ico-com.weather1,
.control-section .active .ico-com.weather2,
.control-section .active .ico-com.weather3 {background-position-y:-80px}
.ico-com.sp-view-a {width:20px;height:20px;background-position:-200px 0}
.ico-com.sp-view-b {width:20px;height:20px;background-position:-220px 0}
.ico-com.icon-viewer {width:20px;height:20px;background-position:-240px 0}
.ico-com.weather1 {width:28px;height:28px;background-position:0 -40px}
.ico-com.weather2 {width:28px;height:28px;background-position:-40px -40px}
.ico-com.weather3 {width:28px;height:28px;background-position:-80px -40px}

/* map control */
.box-map-control .control-section {position:absolute;top:20px;right:20px;z-index:100}
.box-map-control .btn-control {width:50px;height:50px;text-align:center;background-color:#fff;border-radius:8px;box-shadow:0 1px 4px 0 rgba(0,0,0,.25);display:flex;align-items:center;justify-content:center}
.box-map-control .box-layer {position:relative}
.box-map-control .box-layer .tooltip-layer {width:160px;border:none;border-radius:8px;box-shadow:0 1px 4px 0 rgba(0,0,0,.25);top:100px;right:60px;left:auto}
.box-map-control .box-layer .tooltip-layer.v2 {top:auto;bottom:-100px;-webkit-transition:bottom .2s ease-out;transition:bottom .2s ease-out}
.box-map-control .box-layer .tooltip-layer.is-showing {top:0;left:0;right:auto}
.box-map-control .box-layer .tooltip-layer.v2.is-showing {top:auto;bottom:120%;left:0;right:auto}
.box-map-control .box-layer .tooltip-layer:before {display:none}
.box-map-control .btn-control-gorup {box-shadow:0 1px 4px 0 rgba(0,0,0,.25);border-radius:8px;overflow:hidden}
.box-map-control .btn-control-gorup ~ .btn-control-gorup {margin-top:12px}
.box-map-control .btn-control-gorup .btn-control {border-radius:0;box-shadow:none}
.box-map-control .btn-control-gorup .btn-control ~ .btn-control {border-top:1px solid #e8e8e8}
.box-map-control .box-map-type {margin-left:4px;border:1px solid #333;height:36px;border-radius:2px;font-size:0}
.box-map-control .box-map-type .btn-map-type {width:56px;text-align:center;color:#333;font-weight:600;font-size:14px;background-color:#fff;height:100%;border:none}
.box-map-control .box-map-type .btn-map-type ~ .btn-map-type {border-left:1px solid #d6d6d6}
.box-map-control .box-map-type .btn-map-type.active {background-color:#1692c6;color:#fff}
.box-map-control .box-map-type .btn-map-type.active {border:none}
.box-map-control .box-map-type .btn-map-type.active + .btn-map-type {border:none}

.box-sh {position:absolute;top:20px;left:20px;width:300px;z-index:101;border-radius:8px;background-color:#fff;box-shadow:0 1px 4px 0 rgba(0,0,0,.25)/*;overflow:hidden*/}
.box-sh .sh-area {display:flex;align-items:center;padding:10px}
.box-sh .sh-area .sh-input {width:calc(100% - 80px)}
.box-sh .sh-area .input-sh {height:40px;border:none;padding:0 10px;font-size:14px;color:#333;width:100%}
.box-sh .sh-area .input-sh:focus {outline:none}
.box-sh .sh-area .input-sh::-webkit-input-placeholder {font-size:16px}
.box-sh .sh-area .input-sh::-moz-placeholder {font-size:16px}
.box-sh .sh-area .input-sh:-ms-input-placeholder {font-size:16px}
.box-sh .sh-area .input-sh:-moz-placeholder {font-size:16px}
.box-sh .sh-area .box-icon {width:40px;height:40px;display:flex;align-items:center;justify-content:center}
.box-sh .btn-back,
.box-sh .btn-close-a {width:40px;height:40px;border:1px solid #00b0a9;border-radius:4px;background-color:#fff;display:flex;align-items:center;justify-content:center}
.box-sh .option-group-list {max-height:calc(100vh - 290px);overflow-y:auto}
.box-sh .sh-area .company-logo {width:31px}
.box-sh .sh-area .link-company {display:block;height:32px}
.sh-input .box-sh-keyword {position:absolute;top:54px;left:0;right:0;padding-top:6px;background-color:#fff;border-radius:0 0 8px 8px;z-index:10;max-height:380px;overflow-y:auto;-webkit-overflow-scrolling:touch;box-shadow:0 3px 4px 0 rgba(0,0,0,.25)}
.sh-input .box-sh-keyword .sh-keyword-item:first-child {border-top:1px solid #eee;padding-top:16px}
.sh-input .box-sh-keyword .sh-keyword-item:last-child {padding-bottom:16px}
.sh-input .box-sh-keyword .sh-keyword-item .move-map {display:flex;width:100%;padding:10px 15px;cursor:pointer}
.sh-input .box-sh-keyword .sh-keyword-item.on .move-map,
.sh-input .box-sh-keyword .sh-keyword-item .move-map:hover {background-color:#f6f6fb}
.sh-input .box-sh-keyword .sh-keyword-item .move-map i {margin-right:8px}
.sh-input .box-sh-keyword .sh-keyword-item .move-map .keyword-value {width:calc(100% - 24px);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px;color:#8d8d8d}
.sh-input .box-sh-keyword .sh-keyword-item .move-map .keyword-value .keyword {color:#00b0a9}
.sh-input .box-sh-keyword .sh-keyword-item .keyword-name {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.sh-input .box-sh-keyword .sh-keyword-item .keyword-name ~ .address-data {font-size:12px;color:#8d8d8d;font-weight:500}
.box-sh .sh-area .sh-input .input-a {width:100%;vertical-align:top}
.box-sh .sh-area .btn-login {width:32px;height:32px;border:1px solid #04709f;background-color:#1691c6;border-radius:2px}
.box-sh .sh-result {border-top:1px solid #222;padding:0;position:relative;height:calc(100vh - 122px);overflow-y:auto;-webkit-overflow-scrolling:touch}
.box-sh .sh-result .btn-more {border-top:1px solid #ccc;padding:10px;width:100%;color:#333;font-weight:600;font-size:14px}
.box-sh .sh-point-a {display:block;width:16px;height:16px;background:url("/images/common/sh-point-a.png") no-repeat 0 0}
.box-sh .sh-point-b {display:block;width:16px;height:16px;background:url("/images/common/sh-point-b.png") no-repeat 0 0}

[class^="marker-structure-"] {width:auto;height:43px;background-position:0 0;background-repeat:no-repeat;cursor:pointer;z-index:99;display:flex}
[class^="marker-structure-"] .structure-name {color:#fff;font-size:11px;padding:10px 4px 0 8px;white-space:nowrap}
[class^="marker-structure-"] [class^="icon-structure-"] {position:absolute;top:18px;left:10px}
.marker-structure-a {background-image:url("/images/common/map-item-bg.png")}
.marker-structure-a.select {background-image:url("/images/common/map-item-bg-on.png")}
.marker-structure-a:after {content:'';position:absolute;top:0;right:-4px;background:url("/images/common/map-item-bg.png") 100% 0;width:4px;height:100%}
.marker-structure-a.select:after{background-image:url("/images/common/map-item-bg-on.png")}
[class^="marker-structure-"]:hover {z-index:100}
[class^="marker-structure-"].mini {transform:scale(0.7);-webkot-transform:scale(0.7)}
[class^="icon-structure-"] {display:inline-block;width:28px;height:28px}
/*.icon-structure-a {background:url("/images/common/icon-structure-a.png") no-repeat 50% 50%}*/

.layer_section {opacity:0;visibility:hidden;transition:.2s;position:fixed;left:0;top:0;width:100%;height:100%;/*background-color:rgba(0, 0, 0, .75);*/z-index:9001}
.layer_section .layer_section-container {transition:.4s;position:absolute;left:50%;top:65%;width:640px;transform:translate(-50%, -50%);background-color:#262626;border-radius:0;box-shadow:0 3px 3px rgba(0,0,0,.2);border-top:4px solid #04a09a}
.layer_section.showing {visibility:visible;opacity:1}
.layer_section.showing .layer_section-container {top:50%;opacity:1}
.layer-content {padding:28px 20px;max-height:calc(100vh - 80px);overflow-y:overlay}
.layer-content ::-webkit-scrollbar-thumb {background-color:rgba(255,255,255,.1)}
.layer-content-title {font-size:16px;color:#fff;font-weight:300;margin-bottom:12px}
.layer-content-title ~ .layer-content-title {margin-top:40px}
.layer-content-footer {width:100%;display:flex;height:50px}
.layer-content-footer .btn-analysis {flex:1;font-size:16px}
.layer-content-footer .btn_layer-close {flex-shrink:0;width:50px}
.btn-analysis {background-color:#04a09a;display:flex;align-items:center;justify-content:center;gap:8px;color:#fff;font-weight:500}
.btn_layer-close {background-color:#000;display:flex;align-items:center;justify-content:center}
.btn-i-close {background:url("/images/common/btn-i-close.png") no-repeat 0 0;width:14px;height:14px}
.btn-i-01 {background:url("/images/common/btn-i-01.png") no-repeat 0 0;width:20px;height:20px}
.btn-i-02 {background:url("/images/common/btn-i-02.png") no-repeat 0 0;width:18px;height:18px}

.table-view table {border-top:1px solid #686868;border-left:1px solid #686868}
.table-view table th {background-color:#484848;font-size:12px;color:#fff;font-weight:300;padding:8px;text-align:left;border-bottom:1px solid #686868;border-right:1px solid #686868}
.table-view table thead th {text-align:center}
.table-view table td {background-color:transparent;font-size:12px;color:#fff;font-weight:400;padding:8px;text-align:left;border-bottom:1px solid #686868;border-right:1px solid #686868}
.table-view table th.dark-th {background-color:#373737}

.drag-area {border:1px dashed #04a09a;background-color:rgba(178,255,250,.3);box-shadow:0 1px 3px rgba(0,0,0,.2)}
.drag-footer {display:flex;justify-content:flex-end;height:30px;margin-top:4px}
.drag-footer .btn-analysis {flex-shrink:0;font-size:12px;height:30px;width:72px}
.drag-footer .btn_layer-close {flex-shrink:0;width:30px}

.layer_section-container.analysis-content {width:100%;left:0;height:100%;transform:translate(0, 0);border-top:none}
.layer_section-container.analysis-content .layer-content {padding:0;max-height:calc(100vh - 50px)}
.layer_section.showing .layer_section-container.analysis-content {top:0}
.layer-content-header {height:50px;display:flex;background-color:#04a09a}
.layer-content-header h1 {flex:1;display:flex;align-items:center;padding:0 26px;font-size:18px;color:#fff;font-weight:600;gap:12px}
.layer-content-header h1 i {flex-shrink:0}
.layer-content-header h1 span {flex:1;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical}
.layer-content-header .btn-analysis-print {background-color:#1b6865;display:flex;align-items:center;justify-content:center;gap:8px;color:#fff;font-weight:500;font-size:12px;padding:0 12px}
.layer-content-header .btn_layer-close {flex-shrink:0;width:50px}
.layer_section-container ::-webkit-scrollbar-thumb {background-color:rgba(255,255,255,.1)}

.layer-content-title2 {font-size:24px;font-weight:600;color:#fff;opacity:.67}
.active .accordion-title {background-color:transparent}
.active .layer-content-title2 {opacity:1}
.active .btn-accordion {transform: rotate(180deg)}
.accordion-title {display:flex;justify-content:space-between;align-items:center;padding:0 36px;height:76px;background-color:#1e1e1e}
.btn-accordion {width:40px;height:40px;background:url("/images/common/blt-arrow-a.png") no-repeat 50% 50%}
.detailed-index {display:none;padding:0 24px 56px}
.accordion-group {border-bottom:1px solid #515151}
.accordion-group.active .detailed-index {display:block}

.box-group {display:flex;gap:20px}
.box-item {border-radius:20px;box-shadow:0 2px 5px 0 rgba(6,0,1,.75)}
.box-item.bg-type {background-color:#484848}
.box-item.line-type {border:2px solid #484848;padding:28px}
.box-item.map-type {border:2px solid #04a09a;position:relative;overflow:hidden;height:700px}
.box-group .box-col {width:calc((100% - 20px) / 2)}
.box-group .box-col .line-type {overflow-y:overlay;max-height:352px}

.map-type .map-choice {position:absolute;top:0;left:0;right:0;padding:20px 28px;display:flex;flex-wrap:wrap;gap:8px;background-color:rgba(0,0,0,.5)}
.map-choice .btn-map-choice {height:30px;color:#fff;font-size:12px;font-weight:300;position:relative;line-height:18px;padding:6px 12px 6px 32px;border-radius:8px;background-color:#484848}
.map-choice .btn-map-choice:before {content:'';position:absolute;left:10px;top:6px;width:18px;height:18px;background:url("/images/common/choice-i.png") no-repeat 50% 50%;opacity:.3}
.map-choice .btn-map-choice.active {background-color:#04a09a}
.map-choice .btn-map-choice.active:before {opacity:1}

.box-list-a {display:flex;gap:20px}
.box-list-a .box-item {width:calc((100% - 20px) / 2)}
.box-list-a .box-item.line-type {overflow-y:overlay;max-height:346px}

.box-title-area {display:flex;align-items:center;padding:0 28px;height:50px;justify-content:space-between;border-bottom:1px solid #262626}
.box-item-title {color:#fff;font-size:16px;font-weight:600}
.box-item-title span {color:#04a09a;font-size:24px;font-weight:800;position:relative;top:2px}
.btn-compare {border-radius:8px;box-shadow:0 3px 3px 0 rgba(6,0,1,.2);height:30px;padding:0 16px;font-size:12px;font-weight:300;background-color:#fff;color:#000;display:flex;align-items:center;justify-content:center}
.box-item-content {padding:28px}
.box-item .chart-box {height:240px;background-color:#6d6d6d}
.box-item-content.box-flex {display:flex;gap:20px}
.box-item-content.box-flex .chart-box {flex:1 0;background-color:transparent;height:220px;}
.box-item-content.box-flex .chart-detail-content {flex:1 0;background-color:#242424;border-radius:20px;padding:20px}
.chart-detail-content .total-score {display:flex;align-items:flex-end;justify-content:flex-end;font-size:16px;font-weight:300;color:#fff}
.chart-detail-content .total-score span {color:#04a09a;font-size:60px;font-weight:600;line-height:1;position:relative;top:4px}
.chart-detail-content .score-list {display:flex;flex-wrap:wrap;margin-top:16px;gap:8px}
.score-list .score-item {width:calc(50% - 4px);display:flex;align-items:center;height:30px;gap:8px}
.score-list .score-item .score-type {height:30px;width:30px;display:flex;align-items:center;justify-content:center;color:#fff;font-size:18px;font-weight:600;border-radius:50%;background-color:#04a09a;font-style:normal;flex-shrink:0}
.score-list .score-item .score-title {font-size:12px;color:#fff;font-weight:300;opacity:.5;flex-shrink:0}
.score-list .score-item .score-value {font-size:24px;color:#fff;font-weight:600;margin-left:4px;flex-shrink:0}

.box-list-b {display:flex;gap:20px;flex-wrap:wrap}
.box-list-b .box-item {width:calc((100% - 40px) / 3);border:2px solid #04a09a;height:460px;position:relative;overflow:hidden}
.box-list-b .box-map-title {position:absolute;top:0;left:0;right:0;display:flex;align-items:center;padding:0 28px;font-size:18px;font-weight:600;color:#04a09a;background-color:rgba(0,0,0,.8);height:56px}

.mt-20 {margin-top:20px}

@media (max-width:1024px) {
    .box-group {flex-direction:column}
    .box-group .box-col {width:100%}
    .box-item.map-type {height:480px}
    .box-group .box-col .line-type {overflow-y:visible;max-height:none}
}

/* @page {
	size:210mm 297mm; 
	margin:0
} */
/* @media print {
	* {-webkit-print-color-adjust:exact;print-color-adjust:exact}
	html, body {margin:0;padding:0;page-break-after:avoid;page-break-before:avoid}
	body {background:#fff}
	.print-section {overflow:hidden;position:relative;width:210mm;height:calc(297mm - 1px);page-break-before:always}
	.print-section:first-of-type {page-break-before:auto;page-break-inside:avoid}
} */

.print-wrap{padding-bottom: 80px; font-size: 62.5%;}

.page-a4{
	width: 210mm;
	height: 297mm;
    padding: 1cm;
    margin: 2cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 0;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.page-a4 .col-th{width: 100px;}
.page-a4 .col-td{width:calc((100% - 300px) / 3)}
.page-a4 .page-title h2{font-size:16px;font-weight: 700; margin-bottom: 18px;}
.page-a4 .box-item-title{color: #000; font-weight: 600;font-size: 14px;}    
.page-a4 .box-item.bg-type{background-color: #fff; }
.page-a4 .box-title-area{padding: 0; height:auto; border: 0; margin-bottom: 8px;}
.page-a4 .paging{position:absolute; bottom:14px; width:100%; text-align: center; box-sizing: border-box; left: 0; font-weight: 500; color:#222}
.page-a4 .detailed-index{display: block;padding:0}
.page-a4 .box-group .box-col{width: 100%;}
.page-a4 .box-group{flex-direction: column;}
.page-a4 .box-group .box-col .line-type{overflow: auto; max-height:100%;}
.page-a4 .box-item{box-shadow: none; padding:0; overflow: visible !important; border-radius: 0;}
.page-a4 .box-item.line-type{border: 0; padding: 0;}
.page-a4 .table-view table td{color:#000}
.page-a4 .layer-content-title{color:#000; font-weight: 600; font-size: 14px;}
.page-a4 .box-item-content.box-flex{gap:0; align-items: flex-start; }
.page-a4 .box-item-content{padding:0;}
.page-a4 .layer-content-title ~ .layer-content-title{margin-top: 16px; margin-bottom:8px}
.page-a4 .box-item-content.box-flex .chart-detail-content{background-color: #fff; border:1px solid #ccc; padding: 16px; margin-left: 12px;}
.page-a4 .chart-detail-content .total-score{color:#000;}
.page-a4 .score-list .score-item .score-title{color: #000;opacity:1; font-size: 14px;}
.page-a4 .score-list .score-item .score-value{color: #000;opacity:1;font-size:18px}
.page-a4 .chart-detail-content .total-score span{font-size:30px}
.page-a4 .box-item-content.box-flex .chart-box {height: 190px;}
.page-a4 .box-item.map-type{height: 465px; border-color: #ccc; border-width: 1px;}
.page-a4 .map-type .map-choice{padding: 8px 16px; background-color:rgba(255,255,255,0.8);}
.page-a4 .map-choice .btn-map-choice{background-color: #fff; color:#000; border:1px solid #ccc;}
.page-a4 .map-choice .btn-map-choice.active{font-weight: 900;}
.page-a4 .box-list-a .box-item.line-type{margin-top: 38px;}
.page-a4 .table-view table th{background-color:#fff; color:#000; font-weight: 700; border-color: #ccc !important;}
.page-a4 .table-view table td{background-color:#fff;border-color: #ccc !important;}
.page-a4 .table-view table{border-color: #ccc !important;}
.page-a4 .box-list-b .box-map-title{font-size: 14px; background-color:rgba(255,255,255,0.8); padding:8px; height: auto; color:#000}
.page-a4 .box-list-b{gap: 0; margin:18px 0 0 1px}
.page-a4 .box-list-b .box-item{width: 50%;height:354px;border-width: 1px;margin-left:-1px; margin-top:-1px; border-color:#ccc;}
.btn-fix-group {position:fixed;left:0;bottom:0;right:0;background-color:rgba(255,255,255,.8);border-top:1px solid #f5f5f5;padding:16px;display:flex;justify-content:flex-end;align-items:center;gap:4px; box-sizing: border-box;}
.btn-fix-group .btn-compare {font-weight: 500;}
.page-a4 .box-item-content.box-flex .chart-box{background-color: #ccc;}
@page {
    size: A4;
    margin: 0;
}

@media print {
	.btn-fix-group{display: none;}
    html,
    body {
        /* width: 210mm;
        height: 297mm; */
		font-size: 14px;
    }
	.print-wrap{padding-bottom: 0;}
    .page-a4 {
		width: 100%;
        min-height: 381mm;
        margin: 0;
        border: initial;
        border-radius: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
	.page-a4 .col-th{width: 9rem;}
	.page-a4 .col-td{width:calc((100% - 2.7rem) / 3)}
	.page-a4 .page-title h2{font-size:1.9rem; margin-bottom: 1.8rem;}
	.page-a4 .box-item-title{font-size: 1.4rem;}  
	.page-a4 .layer-content-title{ font-size: 1.4rem; margin-bottom: 1.2rem;}  
	.page-a4 .score-list .score-item .score-value{font-size:1.8rem}
	.page-a4 .chart-detail-content .total-score span{font-size:3.0rem}
	.page-a4 .box-list-b .box-map-title{font-size: 1.2rem; }
	.page-a4 .table-view table th,
	.page-a4 .table-view table td{font-size: 1.1rem; padding:.8rem;}
	.page-a4 .box-title-area{margin-bottom: 0.8rem;}
	.page-a4 .score-list .score-item .score-title{font-size: 1.4rem;}
	.page-a4 .box-item-content.box-flex .chart-detail-content{padding: 1.6rem;margin-left: 1.2rem;}
	.page-a4 .box-item-content.box-flex .chart-box{height: 19rem;}
	
	.page-a4 .mt-20{margin-top: 2rem;}
	.page-a4 .box-item .chart-box{height: 24rem;}

	.page-a4 .box-item.map-type{height:40.5rem}
	.page-a4 .box-list-b .box-item{height: 30.4rem;}
} 
